  <footer class="flex w-full justify-between items-center p-4 mt-2 bg-secondary  text-primary-content md:px-32">
    <div class="items-center grid-flow-col">
      <p class="font-bold">© Zain Bazaz</p>
    </div> 
    <div class="w-24 flex justify-around">
      <a href="https://github.com/zainbazaz" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
      <a href="https://www.linkedin.com/in/zainbazaz/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </div>
  </footer>   

  <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>