<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turbos and Tourbillons</title>
    <script src="https://kit.fontawesome.com/9a67f56980.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header class="container mx-auto p-4">
      <div class="navbar bg-base-100 flex align-center justify-center">
        <a href="/" class="btn btn-ghost normal-case text-2xl font-light">Turbos and Tourbillons</a>
      </div>
    </header>
  </body>
</html>
